:root
{
    --color-primary:#0073ff;
    --color-white:#e9e9e9;
    --color-black:#141d28;
    --color-black-1:#212b38;
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
}

.menu-bar
{
   background: var(--color-black);
   height:80px;
   width:100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:0 5%; 
}
.logo
{
    color:var(--color-white);
    font-size: 30px;
}
.logo span
{
    color:var(--color-primary)
}
.menu-bar ul
{
    display: flex;
     list-style: none;
}
.menu-bar ul li
{
   padding:10px 30px;
   position: relative;
}
.menu-bar ul li a
{
    color:var(--color-white);
    text-decoration: none;
    font-size: 20px;
    transition: 0.9s;
}
.menu-bar ul li a:hover
{
    color:var(--color-primary)
}
.dropdown
{
    display: none;
}
.menu-bar ul li:hover .dropdown
{
    display: block;
    position: absolute;
    left:0;
    top:100%;
    background-color: var(--color-black);
}
.menu-bar ul li:hover .dropdown ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .dropdown ul li
{
    width:150px;
}
.fa-caret-right
{
    float: right;
    padding-top: 3px;
}
.dropdown-1
{
    display: none;
}
.dropdown ul li:hover .dropdown-1
{
    display: block;
    position: absolute;
    top:0;
    left:150px;
    background-color: var(--color-black);
    margin-left: 10px;
}
.hero
{
    height:calc(100vh - 80px);
    background: url(https://cdn.pixabay.com/photo/2022/10/26/03/30/fog-7547298__340.jpg) no-repeat center/cover;

}