*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container
{
    display: flex;
    height: 60px;
    background-color: black;
    padding:10px 5%;
    justify-content: space-between;
}
h1
{
    color:#fff;
}
span
{
    color:blue;
}
.container ul
{
    display: flex;
    list-style: none;
    margin-top: 10px;
    
}
.container ul li
{
    position: relative;
}
.container ul li a
{
    text-decoration: none;
    text-transform: capitalize;
    color:#fff;
    padding:10px 20px;
    transition: 2s;
}
.container ul li a:hover
{
    color:blue;
}
